.bgblack{
	background-color: #000000;
}
.bg-button{
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	outline: none;
	background-color: #111212; /* Dark background color */
	padding: 10px; /* Add padding to separate content from border */
	color: #fff;
}
.round-button {
	border-radius: 50%;
	background: white;
}
.round-button:hover {
	background-color: #f29829;
	border-color: #f29829;
	box-shadow: 0px 15px 20px rgba(117, 117, 113, 0.4);
	color: #fff;
}
.record{
	border-radius: 50%;
	background: red;
}
.record:hover{
	border-radius: 50%;
	background: darkred;
}

