.bgblack{
	background-color: #000000;
}
.bg-button{
	background-color: #000; /* Dark background color */
	border: 2px solid #444; /* Slightly lighter border color */
	padding: 10px; /* Add padding to separate content from border */
	color: #fff;
}
.round-button {
	border-radius: 50%;
	background: white;
}
.round-button:hover {
	background: grey;
}
.record{
	border-radius: 50%;
	background: red;
}
.record:hover{
	border-radius: 50%;
	background: darkred;
}

